
* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(79, 79, 228);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;

}

body.correct {
    background-color: rgb(84, 173, 84);
}

body.wrong {
    background-color: rgb(184, 78, 78);
}

.container {
    width: 60vw;
    max-width: 80%;
    background-color: rgb(11, 100, 112);
    /*arrondit les angles */
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 20px 5px;
}

.btn-grid {
    display: grid;
    grid-template-rows: repeat(4, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    border: 1px solid rgba(32, 94, 11, 0.063);
    background-color: blue;
    border-radius: 5px;
    padding: 5px 10px;
    color: antiquewhite;
}

.btn:hover {
    border-color: black;
}

.answer.correct {
    background-color: green;
}

.btn-wrong {
    background-color: red;
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}


.hide {
    display: none;
}


