body {
  background-color: black;
  color: white;
  /*max-width: 320px;*/
  max-height: 768px;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

.grid-container {
  display: grid;
  grid-template-rows: 15vh 5vh 20vh 40vh;
  grid-template-columns: repeat(4, 10px 300px 10px); /*4 fois 3 columnes de 10px 300px 10px)*/
  text-align: center;
  grid-auto-flow: column; /*permet le scrolling horizontal et non vertical*/
}

header {
  background-color: #f45c45;
  text-align: center;
  grid-area: 1/1/2/4;
}

.logo-wild {
  grid-area: 1/2/1/2;
  height: 15vh;
}

.bubble-text {
  grid-area: 3 / 2 / 4 / 3;
  z-index: 3;
  color: grey;
  font-size: 12px;
  display: block;
  width: 180px;
  height: 80px;
  text-align: center;
    margin-left: 10px;
  margin-top: 20px;
  padding: 10px;
}

.bubble {
  width: 200px;
  grid-area: 3 / 2 / 4 / 3;
  z-index: 2;

  /*display : none;*/
}

.avatar {
  height: 300px;
  grid-row-start: 3;
  z-index: 1;
}

h1 {
  font-family: "Uncial Antiqua", Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: 16px;
  grid-area: 2/2/3/3;
}
