/*sur toutes les pages */

body {
  background: linear-gradient(to bottom right, black, rgb(69, 70, 70));
  color: white;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
}

header {
  background-color: #f45c45;
  width: 100vw;
  height: 15vh;
  display: block;
  background-image: url(assets/blasonWild.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.logo-wild {
  height: 14vh;
}

/*footer tete pierre*/

nav {
  display: flex;
  justify-content: right;
  align-items: flex-start;
  justify-items: flex-end;
}

.nav-pierre {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-image: url(assets/bullefootermobi.png);
  background-size: 200px;
  background-repeat: no-repeat;
  width: 200px;
  height: 20vh;
  text-align: center;
  color: black;
}

.floating-head {
  background-color: transparent;
  border: none;
}
/*footer tete pierre*/

/*page index*/

.grid-container-index {
  display: grid;
  grid-template-rows: 15vh 8vh 20vh 40vh;
  grid-template-columns: repeat(
    4,
    10px 300px 10px
  ); /*4 fois 3 columnes de 10px 300px 10px)*/
  text-align: center;
  grid-auto-flow: column; /*permet le scrolling horizontal et non vertical*/
  -webkit-overflow-scrolling: touch; /*sensé permettre smoother scrolling avec bump a la fin*/
}

.bubble-text {
  z-index: 3;
  color: black;
  font-size: 12px;
  display: block;
  width: 180px;
  height: 80px;
  text-align: center;
  padding: 8px;
}

#bubblePierre {
  grid-area: 3 / 2 / 4 / 3;
}

#bubbleXavier {
  grid-area: 3 / 5 / 4 / 6;
}

#bubbleSandra {
  grid-area: 3 / 8 / 4 / 9;
}

.bubble-pierre {
  width: 200px;
  grid-area: 3 / 2 / 4 / 3;
  z-index: 2;
}

.bubble-xavier {
  width: 200px;
  grid-area: 3 / 5 / 4 / 6;
  z-index: 2;
}

.bubble-sandra {
  width: 200px;
  grid-area: 3 / 8 / 4 / 9;
  z-index: 2;
}

.avatar-pierre {
  height: 300px;
  grid-row-start: 3;
  z-index: 1;
}

.avatar-xavier {
  height: 300px;
  grid-area: 3 / 5 / 5 / 6;
  z-index: 1;
}

.avatar-sandra {
  height: 300px;
  grid-area: 3 / 8 / 5 / 9;
  z-index: 1;
}

/*attention balises titres modifiées jusque h3*/

h1 {
  font-family: "Uncial Antiqua", Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: 16px;
  grid-area: 2/2/3/3;
  margin-top: 33, 3%;
}

h2 {
  font-family: "Uncial Antiqua", Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: 16px;
  grid-area: 2/5/3/6;
  margin-top: 33, 3%;
}

h3 {
  font-family: "Uncial Antiqua", Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: 16px;
  grid-area: 2/8/3/9;
  margin-top: 33, 3%;
}

/*page dojo*/

.dojo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

#grid-dojo {
  display: grid;
  grid-template-columns: 1fr 20vw 1fr;
  grid-template-rows: 1fr;
  z-index: 1;
  text-align: center;
  padding: 3%;
}

.dojo-text {
  width: 90%;
  background-image: url(assets/bullemobi.png);
  background-repeat: no-repeat;
  background-size: contain;
  color: black;
  font-size: 1.2vw;
  text-align: center;
  grid-area: 1/1/2/2;
  justify-self: center;
}

.pierre-dojo {
  grid-area: 1/2/2/3;
  width: 30vw;
  justify-self: center;
}

/*button placement for screen*/

#grid-button {
  grid-area: 1/1/2/2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 20% 10% 10% 10% 6fr;
  z-index: 2;
}
.play {
  border-color: transparent;
  background-color: transparent;
}

/*row-start/column-start/row-end/column-end*/
#one {
  grid-area: 2/2/3/3;
  background-image: url(assets/beer.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#two {
  grid-area: 2/3/3/4;
  background-image: url(assets/tacos.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#three {
  grid-area: 2/4/3/5;
  background-image: url(assets/nyanCat.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#four {
  grid-area: 3/2/4/3;
  background-image: url(assets/logoLol.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#five {
  grid-area: 3/3/4/4;
  background-image: url(assets/hacker.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#six {
  grid-area: 3/4/4/5;
  background-image: url(assets/pillow.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#result {
  grid-area: 4/2/5/5;
  color: black;
  font-size: 1.5vw;
}

/*page gym*/

.grid-gym {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50vh 1fr;
  text-align: center;
  align-items: center;
  justify-items: center;
}

.gym-pixel {
  grid-area: 1/2/2/3;
  max-height: 50vh;
  max-width: 60vw;
}

.gym {
  grid-area: 1/3/2/4;
  max-height: 50vh;
}

@media screen and (max-width: 568px) {
  .gym-pixel {
    grid-area: 1/2/2/4;
    max-height: 45%;
    width: 60vw;
    align-self: start;
  }
  .gym {
    grid-area: 1/2/2/4;
    justify-items: center;
    align-self: end;    
  }
  .xavier-gym{
    grid-area: 1/2/2/4;
    justify-items: center;
    align-self: end;    
    height: 20vh;
  }
}

table {
  grid-area: 1/1/3/2;
  border-style: solid;
  border-color: chocolate;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-width: 5px;
}

td {
  border-bottom-style: solid;
  border-bottom-color: chocolate;
  border-width: 5px;
  width: 20vw;
  height: 8vh;
}

.ladder-bottom {
  border-bottom: transparent;
}

.promo {
  height: 8vh;
}

.xavier-gym {
  max-height: 40vh;
}

/*css gym Amandine*/

.container {
  grid-area: 2/2/3/4;
  width: 50vw;
  max-width: 80%;
  /*arrondit les angles */
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 20px 5px;
}

.btn-grid {
  display: grid;
  grid-template-rows: repeat(4, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  border: 1px solid rgba(32, 94, 11, 0.063);
  background-color: #f45c45;
  border-radius: 5px;
  padding: 5px 10px;
  color: antiquewhite;
}

.btn:hover {
  border-color: black;
}

.answer.correct {
  background-color: green;
}

.btn-wrong {
  background-color: red;
}

.start-btn,
.next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.hide {
  display: none;
}

/*anciennement body.correct, a changer ds js*/

nav.correct {
  background-color: rgb(84, 173, 84);
}

nav.wrong {
  background-color: rgb(184, 78, 78);
}
