/*sur toutes les pages */

body {
  background: linear-gradient(to bottom right, black, rgb(69, 70, 70));
  color: white;
  /*max-width: 320px;*/
  /*max-height: 568px;*/
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
 
}

header {
  background-color: #f45c45;
  width: 100vw;
  height: 15vh;
  display: flex;
  background-image: url(assets/blasonWild.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.tavern{
  display: grid;
  grid-row: 1fr, repeat(3,33fr);
  grid-column: repeat(10, 10fr);
}
/*sandra background*/
.avatar-sandra {
  grid-row: 2, 3;
  grid-column: 5, 10;
  height: 300px;
}
.bubble-sandra {
  width: 200px;
  grid-area: 3 / 8 / 4 / 9;
  z-index: 2;
}


/*Final tavern page content start */

.final-tavern-container{
  display: flex;
  height: 90vh;
  width: 95vw; 
  justify-content: space-around;
}
.tavern-image{
  display: flex;
  height: 100%;
  width: 100%;
}
.tavern-description{
  display: flex;
  height: 50%;
  width: 100%;
}

/*final tavern page content end*/
/*start of shifumi properties*/
#paper{
  background-image: url(assets/playerPaper.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#rock{
  background-image: url(assets/playerRock.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#scissors{
  background-image: url(assets/playerScissors.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.challenge{
  display: none;
  height: 30vh;
  width: 95vw; 
  justify-content: space-around;
}
.challenge-message{
  display: flex;
}
.start-challenge{
  display: flex;
}
.skip-challenge{
  display: flex;
} 
.skip-message-container{
  display: flex;
  height: 90vh;
  width: 95vw; 
  justify-content: space-around;
}
.skip-message {
  display: flex;
}
.wait-please{
  display: flex;
}
.coffee-timer{
  display:flex;
}

.sandra-tag-score {
  background-image: url(assets/scoreBoarLeft.png);
  border-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  height: 30vh;
  width: 95vw; 
  justify-content: space-around;
}

.player-tag-score {
  background-image: url(assets/scoreBoardRight.png);
  border-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  height: 30vh;
  width: 95vw; 
  justify-content: space-around;

}


.player-choice-container {
  background-image: url(assets/woodenSign.png);
  border-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  height: 30vh;
  width: 95vw; 
  justify-content: space-around;
}

.player-choice{
  width:20%;
  height: 90%;
  border-color: transparent;
  background-color: transparent;
}
.combat-message-container{
  background-image: url(assets/woodenSign.png);
  border-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  height: 30vh;
  width: 95vw; 
  justify-content: space-around;
}

.shi {
  display: flex;
} 

.fu {
  display: flex;
  
}

.mi {
  display: flex;
  
}

.sandra-hand-animation{
  background-image: url(assets/sandraRockColored.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border-color: transparent;
  width:20%;
  height: 90%;
  display: flex;
}
.player-hand-animation{
  background-image: url(assets/playerRock.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border-color: transparent;
  width:20%;
  height: 90%;
  display: flex;
}  

.try-victory-message-container {
  background-image: url(assets/woodenSign.png);
  border-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  height: 30vh;
  width: 95vw; 
  justify-content: space-around;
}
.sandra-hand{
  display: flex;
  width:20%;
  height: 50%;
  border-color: transparent;
  background-color: transparent;
}
.sandra-hand-paper{
  background-image: url(assets/sandraPaperColored.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.sandra-hand-rock{
  background-image: url(assets/sandraRockColored.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.sandra-hand-scissors{
  background-image: url(assets/sandraScissorsColored.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.player-hand{
  display: flex;
  width:20%;
  height: 50%;
  border-color: transparent;
  background-color: transparent;
}
.player-hand-paper{
  background-image: url(assets/playerPaper.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.player-hand-rock{
  background-image: url(assets/playerRock.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.player-hand-scissors{
  background-image: url(assets/playerScissors.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.game-victory-message-container {
  background-image: url(assets/tavernSign.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  height: 60vh;
  width: 95vw; 
  justify-content: space-around;
}
.who-won{
  display: flex;
  height: 50%;
  width: 90%;
  border-color: transparent;
  background-color: transparent;
}

.who-won-sandra{
  background-image: url(assets/crownSandra.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.who-won-player{
  background-image: url(assets/crownPlayer.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.retry-message-container{
  display: flex;
}
.retry-challenge-message{
  display: flex;
}
.retry-challenge{
  display: flex;
}
.skip-retry-challenge{
  display: flex;
}
.slide-in{
  animation-duration: 750ms;
  animation-name: slidein;
}
.open{
  display: flex;
}
.hide{
  display: none;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/*end of shifumi properties*/

/*footer tete pierre*/
footer {
  position: sticky;
  bottom: 0;
}

nav {
  display: flex;
  align-content: right;
  justify-content: flex-end;
  
}

.nav-pierre {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-image: url(assets/bullefootermobi.png);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  width: 42vw;
  max-height: 130px;
  color: black;
  display: none;
  text-align: right;
  padding-inline-end: 2vw;
  
}

.nav-button {
  font-size: 90%;
  padding: 1%;
  margin: 0;
  background-color: #f45c45;
  color: white;
  border-radius: 3px;
  text-decoration: none;
  
  
}

.active {
  display: inline-block;
}

.floating-head {
  background-color: transparent;
  border: none;
  height: 20vh;
}
/*footer tete pierre*/