.challenge{
  display: block;
}
.challenge-closed{
  display: none;
}

.reject-message {
  display: none;
}
.skip-and-go{
  display: none;
}
.skip-and-go-open{
  display: block;
}
.sandra-tag-score {
  display: none;
}

.sandra-tag-score-open{
  display: block;
}

.player-tag-score {
  display: none;
}
.player-tag-score-open{
  display: block;
}

.player-choice-container {
  display: none;
}

.player-choice-container-open{
  display: block;
}

.combat-message-container{
  display: none;
}

.combat-message-container-open{
  display: block;
}

.shi {
  display: none;
  /* width: 90vh;
  height: 25vh; */
}
.shi-open {
  display: block;
  opacity: 1;
  /* animation-name: apparition;
  animation-delay: 2s;
  animation-duration: 3s; */
}

.fu {
  display: none;
}
.fu-open{
  display: block;
}

.mi {
  display: none;
}
.mi-open{
  display: block;
}

.try-victory-message-container {
  display: none;
}
.try-victory-message-container-open{
  display: block;
}

.game-victory-message-container {
  display: none;
}

.game-victory-message-container-open{
  display: block;
}
.retry-challenge-message{
  display: none;
}
.retry-challenge-message-open{
  display: block;
}

@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
