

/*start of shifoumi properties*/

.challenge{
  display: none;
}

.skip-message {
  display: none;
}
.skip-and-go{
  display: none;
}

.sandra-tag-score {
  display: none;
}


.player-tag-score {
  display: none;
}


.player-choice-container {
  display: none;
}

.combat-message-container{
  display: none;
}

.shi {
  display: none;

}

.fu {
  display: none;
}

.mi {
  display: none;
}
  
.try-victory-message-container {
  display: none;
}

.game-victory-message-container {
  display: none;
}

.retry-challenge-message{
  display: none;
}
.open{
  display: grid;
}

@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*end of shifumi properties*/

/*footer tete pierre*/
footer {
  position: sticky;
  bottom: 0;
}

nav {
  display: flex;
  align-content: right;
  justify-content: flex-end;
  
}

.nav-pierre {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-image: url(assets/bullefootermobi.png);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  width: 42vw;
  max-height: 130px;
  color: black;
  display: none;
  text-align: right;
  padding-inline-end: 2vw;
  
}

.nav-button {
  font-size: 90%;
  padding: 1%;
  margin: 0;
  background-color: #f45c45;
  color: white;
  border-radius: 3px;
  text-decoration: none;
  
  
}

.active {
  display: inline-block;
}

.floating-head {
  background-color: transparent;
  border: none;
  height: 20vh;
}
/*footer tete pierre*/